body{
    margin: 0;
}

.menu{
    display: flex;
    width: 100%;
    height: 50px;
}

.menu_text{
    display: flex;
}

.nikukyu{
    height: 50px;
}

ul{
    display: flex;
   }

li{
    list-style: none;
    margin-left: 20px;
}

.button{
    background: salmon; 
    color: #fff; 
    padding: 16px 40px; 
    text-decoration: none; 
    border-radius: 30px;
}

#top{
    text-align: center;
}

.shiba{
    height: 200px;
}

#about{
    text-align: center;
}

#profile{
    text-align: center;    
}

#production{
    text-align: center;
}

#skill{
    text-align: center;
}