body{
    margin: 0;
}

.menu{
    width: 500px;
    height: 20px;
}

.nikukyu{
    height: 20px;
    width: auto;
}

ul.menu{
    display: flex;
   }

li.menu{
    list-style: none;
    margin-left: 20px;
}