body{
    height: 100%;
    margin: 0;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

html{
    height: 100%;
}

/* メニュー */
.menu{
    display: flex;
    background-color: rgba(238,220,179,0.5);
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    z-index: 10000;
}

.menu_text{
    display: flex;
    height: 90%;
}

.nikukyu{
    height: 80%;
    margin: 0 auto;
}

ul{
    display: flex;
   }

li{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.button{
    background: #eedcb3; 
    color: #333333; 
    padding: 16px 40px; 
    text-decoration: none; 
    border-radius: 30px;
}

.dummy_menu{
    background-color: white;
    height: 10%;
}

/* タイトル画面 */
#top{
    height: 80%;
    text-align: center;
    background-color: #f9da92;
    font-size: 100%;
}

.shiba{
    height: 50%;
}

/* プロフィール */
#profile{
    height: 90%;
    display: flex;  
    background-color: rgba(232,221,194,0.3)
}

.content_profile{
    display: flex;   
    justify-content: center;
    align-items: center;
}

.ebi{
    height: 200px;
}

/* 制作物 */
#production{
    height: 90%;
    text-align: center;
}


.text_production{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blackjack{
    width: 30%;
}

.pic_bj{
    height: 170px;
}

.text_production{
    text-align: center;
}

.sliding15puzzle{
    width: 30%;
}

.pic_sp{
    width: 170px;
}

/* スキル */
#skill{
    height: 90%;
    display: flex;
    background-color: rgba(232,221,194,0.3);
    justify-content: center;
    align-items: center;
}

.text_skill{
    text-align: center;
}